<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--Variables para las rutas de los logs-->
    <property name="DEV_HOME" value="./twitter-to-kafka-microservice/logs"/>
    <property name="APP_NAME" value="twitter-to-kafka-microservice"/>

    <!-- Primer appener, lo manda a la consola-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- Segundo appener, lo manda a un archivo-->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/${APP_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>

        <!-- Crea nuevo archivo, comprime y mantiene el anterior hasta que alcanza 10MB -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/${APP_NAME}-log.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>


    <!-- Todas classes que inician con el paquete : com.microservices.demo, en -->
    <logger name="com.microservices.demo" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Es el nivel de los eventos que serán escritos en el log. -->
    <!-- trace > debug > info > warn > error -->
    <!--        FATAL ERROR WARN INFO DEBUG TRACE   log.trace(), log.debug() , .... -->
    <!-- OFF
         FATAL   X
         ERROR   X      X
         WARN    X      X     X
         INFO    X      X     X    X
         DEBUG   X      X     X    X    X
         TRACE   X      X     X    X    X     X
     -->
    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>